.App {
  text-align: center;
  background-color: #ffac45;
  height:200%;
  width:100%;
}

.App-header {
 
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.MainPanel {
  justify-content: center;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  margin: 15px 0px 20px 0px;
}

.SidePanel {
  width: 38vw;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 20px 20px;
  z-index: 2;
  
}

.SidePanelTitle {
  margin-top: 15px;
}


.Logo {
  margin-top: 20px;
  height: 80px;
}

.LoginMessage {
  min-height: 20px;
  margin-top: 10px;
}

.LoginMessage h3 {
  color: #dd2c00;
  background-color: rgb(255,207,147, 0.6);
}

.SuccessMessage {
  min-height: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SuccessMessage h3 {
  color: #4CAF50;
 
}

.loginImage {
  margin: 0px;
  padding: 0px;
}

h2 {
  font-family: 'Century Gothic';
  font-weight: lighter;
  font-size: 23px;
  padding-top: 25px;
}

h3 {
  font-size: 15px;
  font-family: 'Century Gothic';
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

}
.errorMessage {
  color: #dd2c00;
  font-size: 13px;
  font-family: 'Century Gothic';

}

label {
  font-size: 18px;
}

input {
  margin-bottom: 5px;
  border-width: 1px;
  border-radius: 2px;
  border: 1px solid darkgrey;
  height: 35px;
}
input:not([type="submit"]):hover, .react-dropdown .react-select__control:hover   {
  border-color: #40a9ff;
  border-right-width: 1px;
}

input:not([type="submit"]):focus, .react-dropdown .react-select__control--is-focused  {
  border-color: #40a9ff;
  border-right-width: 1px;
  outline: 0;
}

.react-dropdown {
  width: 200px;
  display: inline-block;
}

.RFS-StepButton {
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index: 1;
  overflow:hidden;
  top:0;
  left:0;
}

.bubble {
  position: absolute;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:before,
.bubble:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: rgb(255,207,147);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.bubble:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
/*.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
} */
.bubble:nth-child(1){
  width:40px;
  height:40px;
  right:10%;
  animation-duration:5s;
}
.bubble:nth-child(2){
  width:200px;
  height:90px;
  left:1%;
  animation-duration:6s;
  animation-delay:4s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:8s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:10px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:200px;
  height:90px;
  left:5%;
  animation-duration:6s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}
