.MainPage {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    margin-left: 210px;
}

.usersSwiper {
    height: 95vh;
    width: 80vw;
    background: white;
    margin: 15px 15px 15px 15px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userPhoto {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo {
    height: 90vh;
    width: 40vw;
    margin-left: 5px;
    margin-right: 5px;
}

.photoContainer {
    position: relative;
    align-items: center;
}

.actionButtonPanel {
    position: absolute;
    display: flex;
    gap: 20px;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%);
}

.userDetails {
    height: 90vh;
    width: 40vw;
}
.b {
    color: #c6531e;
    font-size: 28px;
}
.noMoreUsersFoundContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.noMoreUsersFound {
    font-family: 'Century Gothic';
    font-weight: italic;
    font-size: 20px;
    color: gray;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

