.ImageDropzone {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 5%;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }

  .ImageDropzone:hover {
    background: rgba(233, 105, 44, 0.04);
  }

  .Highlight {
    background-color: rgb(255,255,224);
  }

  .FileInput {
    display: none;
  }