.registerForm{
    width:100%;
}


.createAccountButton {
    padding-left: 10px;
}

.buttonBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}


