.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    padding: 18px 5px 0px ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 10px 0;
    background: #ffac45;
    
}

.SideLogo {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 60px;
}
.sideBarItemContainer {
    height: 50px;
    display: grid;
    grid-template-columns: 50px 160px;
    justify-content: center;
    align-items: center;
}
.sideBarItemContainer:hover {
    border-radius: 5px 5px 5px 5px;
    background:rgba(255, 255, 255, 0.2);
    
}

.sideBarItemContainer:hover .sideBarItem {
    color: #c6531e;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.sideBarItemContainer:hover .bi {
    color: #c6531e;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}


.sideBarItem {
    color: white;
    font-family: 'Century Gothic';
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    text-align: left;
}

.bi {
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);

}

