.userInformationSection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 150px; 
    margin-top: 30px;
    margin-left: 70px;
 
}

.sectionTitle {
    text-align: left;
    padding: 0px;
}

.section {
    width: 17vw;
}